body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #111;
  color: #fff;
}

h1 {
  text-align: center;
  margin: 20px 0;
}

.series-list {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
}

.series-card {
  background-color: #1c1c1c;
  width: 300px;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s;
  padding: 10px 20px;
}

.series-card:hover {
  transform: scale(1.05);
}

.series-card img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.series-card h3 {
  margin: 10px;
}

.series-card p {
  margin: 10px;
  font-size: 0.9rem;
  color: #ccc;
}